<!DOCTYPE>
<html>
<head>
<title> CPU stands for central processing unit </title>
</head>
<body>
<p>
It is the portion of a <un> computer </un> system that carries <br>
out the instructions of a <un> computer </un> program <br>
it carries out each instruction of the program in sequence <br>
to perform the basic arithmetical,logical,and input /output operations of the system  
out the 
</p>
</body>
</html>
